.imageContainerMobile {
    align-self: center;

    width: 90%;
    margin-top: 20px;
}

.phoneImageMobile {
    position: relative;
    top: 0%;
    left: 0%;
    height: 450px;
}

/* ellipse */

.shape2Mobile {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 200px;
}

/* large circle */

.shape3Mobile {
    position: absolute;
    top: 35%;
    right: -20%;
    width: 150px;
}

/* smal circle */

.shape4Mobile {
    position: absolute;
    top: 2%;
    left: 0%;
    width: 40px;
}